{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <main class="container">
        <h1 class="mt-4 mb-4">{{ controller_name }}</h1>
        <div class="row">

            {% for ad in ads %}

                {% include 'ad/_ad.html.twig' %}

            {% endfor %}

        </div>
    </main>

    


{% endblock %}
